body.registration {
    /* background: linear-gradient(to right, #0f2027, #203a43, #2c5364); */
	background-image: url("./images/backg.jpg");
    font-family: 'Poppins';
	
  /* Full height */
  height: 120vh;
  /* width: 50%; */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* background-position: center; */
}

.hide_p {
	display: none;
  }
container{
	
	
	max-width: 1200px;
	width: 95%;
	margin: 30px auto;

	/* display: flex; */
	display: grid;
	grid-template-columns: repeat(auto-fit, 30rem);
   align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
}
.donor_heading{
	font-size: 25px;
	font-weight: bold;
}

main .card{
	margin-left: 150px;
	align-items: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	transition: 0.3s;
	margin-top: 1em;
	max-width: 300px;
	flex: 1 1 210px;
	text-align: center;
	height: 300px;
	border: 1px solid lightgray;
	

}

main .card .image{
	margin-top: 10px;
	height: 30%;
	/* margin-bottom: 5px; */
}
main .card .image img{
	width: 40%;
	height: 100%;
	object-fit: cover;
}

#register_a:hover{
	text-decoration: none;
	

}
#myinput {
    background-color: #f1f1f1;
    cursor: not-allowed;
}
#myform{
	display: none !important;
}
#lat{
	display: none !important;
}

#donor_details{
	display: none !important;
}
main .card .caption{
	font-size: 5px;
	padding-left: 1em;
	text-align: left;
	line-height: 5em;
	height: 25%;
}
main .card .caption p{
	font-size: 15px;
}

main .box {
	display: inline-block;
	width: calc(20% - 10px);
	/* height: 100px; */
	/* background-color: lightgray; */
	/* margin-right: 10px; */
	/* margin-bottom: 10px; */
  }
  
main .box:nth-child(3) {
	margin-right: 0;
  }
  
/* main .box:nth-child(n+4) {
	display: block;
	clear: both;
	width: 100%;
	margin-top: 10px;
  } */

.button {
	border-radius: 4px;
	background-color: #3494af;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	padding: 5px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
  }
  
  .button span {
	
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .button:hover span {
	padding-right: 25px;
  }
  
  .button:hover span:after {
	opacity: 1;
	right: 0;
  }

#form {
    width: 400px;
    margin: 10vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 15px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}
* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

select {
  height: 40px; /* Set the height of the select tag */
  background-color: #ffffff; /* Set the background color */
  border: none; /* Remove the border */
  padding: 10px; /* Add some padding */
  font-size: 13px; /* Set the font size */
  color: #555; /* Set the text color */
  /* minimum-width: x; */
  /* min-width: 15px;  */
}
#lat_long{
	display: none;
}

.container form label{
	font-weight: bold;
}


/* Style the dropdown arrow */
select::-ms-expand {
  display: none;
}
select::after {
  content: "\25BC";
  color: #ffffff;
  padding-right: 5px;
}

body {
	font-family: Poppins !important;
}
nav {
	background: #3494af;
	height: 80px;
	width: 100%;
}
label.logo {
	font-family: Poppins !important;
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}
nav ul {
	float: right;
	margin-right: 20px;
}
nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a {
	text-decoration: none !important;
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	/* text-transform: none; */
}
a.active, a:hover {
	background: #07325f;
	transition: .5s;
}
.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
  }

  /* Style the links inside the footer */
  footer a {
	color: #fff;
	text-decoration: none;
  }

  /* Style the hover effect for links */
  footer a:hover {
	text-decoration: underline;
  }
 










@media (max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
}
@media (max-width: 858px){
	.checkbtn {
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #1d075f;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	a:hover, a.active {
		background: none;
		color: #5434af;
	}
	#check:checked ~ ul {
		left: 0;
	}
}
